In [1]:
import unittest
from structures import Deck, Card, Card_Value, Suit, Board
import pandas as pd
import glob

hdb = pd.read_csv('/Users/zacharydawson/artificial-intelligence/poker/data/IRCdata/tourney/200110/hdb_main', delim_whitespace=True, header=None, names=['timestamp','dealer','hand', 'num_players', 'num_players/potsize flop', 'num_players/potsize turn', 'num_players/potsize river', 'num_players/potsize showdown'])
hdb_board = pd.read_csv('/Users/zacharydawson/artificial-intelligence/poker/data/IRCdata/tourney/200110/hdb_board', header=None)
hdb['board'] = hdb_board
hdb = hdb.set_index('timestamp')

hroster = pd.read_csv('/Users/zacharydawson/artificial-intelligence/poker/data/IRCdata/tourney/200110/hroster_main', delim_whitespace=True, header=None, names=['timestamp', 'num_players'])
hroster_players = pd.read_csv('/Users/zacharydawson/artificial-intelligence/poker/data/IRCdata/tourney/200110/hroster_players', header=None)
hroster['players'] = hroster_players
hroster = hroster.set_index('timestamp')

#header=None, names=['name','timestamp', 'num_players', 'position', 'preflop_action', 'flop_action', 'turn_action', 'river_action', 'bankroll', 'action', 'winnings', 'card1', 'card2']
pdb_full = pd.read_csv('/Users/zacharydawson/artificial-intelligence/poker/data/IRCdata/tourney/200110/pdb_main', delim_whitespace=True,low_memory=False)
pdb_full = pdb_full.set_index('timestamp')

In [2]:
main = pd.merge(pd.merge(hdb, pdb_full, on='timestamp', how='outer'), hroster, on='timestamp', how='outer')

In [3]:
main.head(10)

            dealer  hand  ...  num_players                                players
timestamp                 ...
1001908813      15    14  ...            5   Batistuta Ski aragorn_i null tratata
1001908813      15    14  ...            5   Batistuta Ski aragorn_i null tratata
1001908813      15    14  ...            5   Batistuta Ski aragorn_i null tratata
1001908813      15    14  ...            5   Batistuta Ski aragorn_i null tratata
1001908813      15    14  ...            5   Batistuta Ski aragorn_i null tratata
1001908833      15    15  ...            5   Batistuta Ski aragorn_i null tratata
1001908833      15    15  ...            5   Batistuta Ski aragorn_i null tratata
1001908833      15    15  ...            5   Batistuta Ski aragorn_i null tratata
1001908833      15    15  ...            5   Batistuta Ski aragorn_i null tratata
1001908833      15    15  ...            5   Batistuta Ski aragorn_i null tratata

[10 rows x 22 columns]